
  <div class="row landing">
    <div class="col-sm-6 landing-buttons">
      <%= link_to "Sign in", new_user_session_path, class: "my-b btn btn-md btn-primary" %>
      <%= link_to "Sign up", new_user_session_path, class: "my-b btn btn-md btn-primary" %>
      <%= link_to "Signup with facebook", new_user_session_path, class: "my-b btn btn-md btn-primary" %>
    </div>
    <div class="col-sm-6 landing-list">
      <h1 class="landing-text">
        Welcome <br> 
        to <br> 
        Facemash
      </h1>
    </div>
  </div>