// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-card{
  margin: 15px 10px;
  text-align: center;
  width: 30%;
  height: 200px;
}

.gravatar{
  float: none;
}

.user-img img{
  border-radius: 50%;
}